version: '3.8'
services:
  samba:
    image: servercontainers/samba
    container_name: samba
    restart: always
    network_mode: host
    environment:
      UID_share: {{uid}}
      ACCOUNT_share: share
      SAMBA_GLOBAL_CONFIG_server_SPACE_min_SPACE_protocol: NT1
      SAMBA_GLOBAL_CONFIG_ntlm_SPACE_auth: ntlmv1-permitted
{% for key,value in samba.mounts.items() %}
      SAMBA_VOLUME_CONFIG_{{key}}: "{{value.config}}"  
{% endfor %}
    volumes:
{% for key,value in samba.mounts.items() %}
      - {{value.system_path}}:{{value.docker_path}}
{% endfor %}