{
    "node_name": "consul-client",
    "data_dir": "/consul/data",
    "ui_config": {
        "enabled" : true
    },
    "advertise_addr": "192.168.1.150",
    "retry_join":[
        "{{hostnames['jarvis']}}"
     ]
}